@import "animacion.css";


body{
color:black
font-weight:bold

}

h1{
color:blue
font-size:2em

}

.marcorojo
{
border: 3px dashed red;

}

.textoazul
{
  color:blue;
}

input:checked, input:focus
{
box-shadow: 2px 2px 2px red;
background-color:yellow;
}

h2:hover
{
background-color:yellow;
}

